/* Animation de fondu en entrée */
.fade-in {
    animation: fadeIn 0.5s ease forwards; /* Ajustez la durée */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animation de fondu en sortie */
.fade-out {
    animation: fadeOut 0.5s ease forwards; /* Ajustez la durée */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
